[Desktop Entry]
Version=1.0
Type=Application
Name=Listness Lite
Comment=轻量级计划清单
Exec=listness-lite
Icon=listness-lite
Terminal=false
Categories=Utility;
Keywords=todo;list;task;